#header
{
	margin-bottom: 10px;
}

#header #title
{
	display: inline-block;
	
	font-size: 5em;
}

#main-container
{
	min-height: 608px;
}

#left
{	
	display: inline-block;
	width: 350px;
}

#left .block
{
	width: 100%;
	height: 250px;
	
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	
	cursor: pointer;
	
	background-color: #000;
}

#left .block:hover
{
	background-color: #fff;
}

#left .block  img
{
	float: left;
	max-width: 150px;
	
	margin-top: 10px;
	margin-left: 10px;
}

#left .block  h1.title-scan
{
	display: inline-block;
	position: absolute;
	
	min-width: 160px;
	max-width: 160px;
	
	text-align: center;
	background-color: red;
	
	-moz-border-radius:0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}

#left .block .block-infos
{
	opacity: 0;
	position: absolute;
	
	width: 240px;
	height: 250px;
	
	left: 0px;
		
	padding: 5px 5px 0px 5px;
		
	cursor: pointer;
	color: #000;
	
	background-color: #fff;
	
	z-index: -1;
}

#left .block .block-infos img
{
	float: left;
	max-width: 150px;
	
	margin-top: 10px;
	margin-left: 10px;
}

#left .block .block-infos ul
{
	margin: 0;
	padding: 0;
}

#left .block .block-infos ul li
{
	margin: 0 0 5px 0;
	padding: 0;
}

#left .block .block-infos ul li p
{
	height: 85px;
		
	overflow-y: auto;
	
	margin: 3px 0 0 0;
	padding: 0 5px 5px 5px;
	
	text-align: justify;
	font-size: 0.8em;
	
	background-color: rgba(0 ,0 ,0 , .1);
}

#left .block .block-infos ul  li .info
{
	display: inline-block;
	
	width: 120px;
	
	margin: 0;
	padding: 0;
	
	color: red;
	font-weight: bold;
}

#left .block .block-infos ul  li .last-info
{
	margin: 15px 0 0 0;
	
	color: red;
	font-weight: bold;
}

.black
{
	display: inline-block;
	position: absolute;

	color: #000;
	font-weight: normal;
}

#left .block .block-infos ul.links
{
	display: block;
	position: absolute;
	
	width: 100px;
	max-height: 180px;
	
	top: 0;
	right: 0;
	
	margin-top: 15px;
	margin-right: -100px;

	text-align: left;
	font-weight: bold;
	
	background-color: red;
	
	-moz-border-radius:0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;

}

#left .block .block-infos ul.links li
{
	margin-left: 0px;
	margin-bottom: 0px;
}

#left .block .block-infos ul.links li:first-child
{
	margin-top: 5px;
}

#left .block .block-infos ul.links li:last-child
{
	margin-bottom: 5px;
}


#left .block .block-infos ul.links li a:hover
{
	color: #000;
}

#left .block .block-infos ul.links li a
{
	display: block;
	
	height: 30px;
	width: 70px;
	
	margin-left: 5px;
	padding-left: 5px;
	line-height: 30px;
	
	text-decoration: none;
	color: #fff;
	
	background-color: #000;
}