#header #title
{
	font-size: 5em;
}

#title
{
	display: inline-block;
}

#header ul
{
	position: absolute;
	display: block;
	
	height: 40px;
	
	right: 0;
	
	margin-right: 10px;
	
}
#header ul li 
{
	display: inline-block;
}

#header ul li a
{
	padding: 5px;
	text-decoration: none;
	
	color: #fff;
}

#header ul li a:hover
{
	color: #000;
}

#main-container
{
	margin-top: 50px;
	
	height: 100%;
	min-height: 608px;
}

.block
{
	display: inline-block;
	position: relative;
	
	width: 150px;
}

.block:hover  .page
{
	display: block;
}

.block .page
{
	display: none;
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
	

	text-align: center;
	vertical-align: middle;
	
	font-size: 5em;
	
	color: #fff;
	text-Shadow: #000 5px 0px 0px, 
				 #000 1px 1px 0px, 
				 #000 1px -1px 0px, 
				 #000 -1px 1px 0px, 
				 #000 -1px 0px 0px, 
				 #000 -1px -1px 0px, 
				 #000 0px 1px 0px, 
				 #000 0px -1px 0px;

	background-color: rgba(0, 0, 0, .5);
}

.block img
{
	position: relative;
	
	width: 100%;
}